@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

